snippet --
	==================================================
snippet s-
	========== ${0} ===========
snippet (
	(${1:round_brackets})${0}
snippet [
	[${1:square_brackets}]${0}
snippet {
	{${1:curly_brackets}}${0}
snippet "
	"${1:quotation_marks}"${0}
snippet '
	'${1:apostrophe}'${0}
